* {
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
}

.background{
    background-color: white;
    height: 100%;
    width: 100%;
    mask: url(#masking);
}

.front-cover{
    background-color: black;
    position: absolute;
    height: 100vh;
    width: 100vw;
    clip-path: inset(10px 20px 30px 40px);
    clip-path: rect(10px, 20px, 30px, 40px);
}

img {
    -webkit-mask-image: url("./images/Harry-Potter-1-.jpg");
    mask-image: url("./images/Harry-Potter-1-.jpg");
    -webkit-mask-size: 400px 600px;
    mask-size: 400px 600px;
  }