* {
  margin: 0;
  padding: 0;
}

@-moz-document url-prefix() {
  /* Disable scrollbar Firefox */
  html {
    scrollbar-width: none;
  }
}

/* body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.small-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
} */
